body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}


ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
  background-color: #f5f5f5;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.height-100 {
  height: 100%;
}

.header {
  background-color: #444;
  width: 100%;
  height: 56px;
  padding: 0px 10px 0px 30px;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 76px;
}

.nav-item {
  padding: 0 10px;
  color: #999;
  cursor: pointer;
}

:hover.nav-item {
  color: #ddd;
}

.border {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 7px 12px 8px 12px;
}

:hover.border {
  border-color: #ddd;
}

.search-input {
  color: #bbb;
  padding: 10px 10px 10px 30px;
  outline: none;
  border: none;
  border-radius: 4px;
}

::-webkit-input-placeholder.search-input {
  color: #bbb;
}

:-ms-input-placeholder.search-input { /* Internet Explorer 10-11 */
  color: #bbb;
}

.search-input::placeholder {
  color: #bbb;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #bbb;
}

.margin-left-10 {
  margin-left: 10px;
}

.banner-container {
  background-color: #E9E6DF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 32px;
  box-sizing: border-box;
}

.banner-img {
  width: 370px;
  height: 270px;
}

.banner-h1 {
  color: #31759A;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.banner-p{
  color: #FF2D6E;
  font-size: 1.25rem;
}

.signup-button {
  background: #ea4c89;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px 15px 11px 15px;
  margin-top: 16px;
  cursor: pointer;
}

:hover.signup-button {
  background-color: #df3e7b;
}

.credits {
  color: #df3e7b;
  margin: 16px 0px 32px 0px;
  font-size: 20px;
}

.credits > a {
  color: #31759A;
  text-decoration: underline;
}

.filter-container {
  padding: 20px 30px;
}

.filter-container li {
  padding: 10px 12px;
  cursor: pointer;
  color: #757575;
  border-radius: 7px;
}

.filter-container li:not(:first-child) {
  margin-left: 5px;
}

.filter-container li:hover {
  background-color: rgba(58,139,187,0.15);
  color: #3a8bbb;
}

.filter-button-container {
  border: 1px solid #ccc;
  padding: 8px 15px;
  color: #444;
  border-radius: 8px;
  cursor: pointer;
}

.filter-button-container > span {
  margin-left: 10px;
}

.dribbble-item-container {
  width: 100%;
  box-sizing: border-box;
}

.dribbble-item {
  width: calc(33.3% - 30px);
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0px 15px 30px 15px;
  position: relative;
  cursor: pointer;
}

.dribbble-item > img {
  height: 250px;
  width: 100%;
}

.padding-15 {
  padding: 15px;
}

.dribble-hover {
  position: absolute;
  bottom: 0;
  transition: height 0.2s ease;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  width: calc(100% - 20px);
}

.dribbble-item:hover .dribble-hover {
  height: 50px;
}

@media (max-width: 576px) {
  [class="dribbble-item"] {
    width: calc(100% - 30px);
  }
}

@media (min-width: 576px) {
  [class="dribbble-item"] {
    width: calc(50% - 30px);
  }
}

/* @media (min-width: 768px) {
  [class="dribbble-item"] {
    width: calc(50% - 30px);
  }
} */

@media (min-width: 992px) {
  [class="dribbble-item"] {
    width: calc(33.3% - 30px);
  }
}

@media (min-width: 1200px) {
  [class="dribbble-item"] {
    width: calc(33.3% - 30px);
  }
}

@media (min-width: 1600px) {
  [class="dribbble-item"] {
    width: calc(16.6% - 30px);
  }
}
